* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ffffff;
  --secondary-color: #525252e7;
  overflow: hidden;
}
html {
  overflow-y: scroll;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3svh;
}

.links {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  list-style: none;
}

.filter {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  /* user-select: none; */
}

.weather-search-city {
  text-decoration-style: none;
  border-width: 0 0 0.05em 0;
  background: transparent;
  text-align: center;
  font-size: inherit;
  color: antiquewhite;

  border-bottom: #ffffff;
  border-style: solid;
  padding-bottom: 0.3em;
}
.search-city {
  display: flex;
  flex-direction: row;
  font-size: 1.7svw;
}
.search {
  align-self: center;
  font-size: inherit;
  color: bisque;
}
.weather-search-city::placeholder {
  opacity: 0.5;
  color: #ffffff;
}

.weather-search-city:focus {
  outline-style: none;
  text-decoration: none;
}

.image-container {
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
}
.image-weather {
  width: 100%;
  height: 100%;
}
.left-info,
.right-info {
  z-index: 1000;
}

.overlay-main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.left-info {
  display: flex;
  position: sticky;
  top: 75%;
  right: 40%;
  left: 8%;
  flex-direction: row;
  align-self: center;
  column-gap: 10%;
  width: fit-content;
  color: rgb(0, 0, 0);
  user-select: none;
  font-weight: 900;
  font-size: 2em;
  backdrop-filter: blur(1.5px);
}

.left-info .date-location-info,
.image-continer-svg {
  font-size: inherit;
}

.date-time {
  font-size: 0.8rem;
}
.current-svg-weather {
  height: 100%;
}

.date-location-info {
  display: flex;
  flex-direction: column;
  align-self: first baseline;
  align-items: center;
  font-size: inherit;
}

h3 {
  font-size: smaller;
}

.city-name {
  letter-spacing: 0.3rem;
  font-weight: 900;
  font-size: inherit;
}

body {
  background: gray;
}

.right-info {
  width: 30svw;
  transition: transform 1s, opacity 0.5s ease-in-out;
}

.weather-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
  flex-wrap: nowrap;
  overflow-y: hidden;
  background: var(--secondary-color);
}

#map {
  height: 100%;
}

.close-bar-container {
  align-self: flex-start;
  position: relative;
  left: 5%;
  user-select: none;
}
.side-bar-btn {
  width: 3svw;
}

.closed {
  transform: translate(80%);
  opacity: 0.5;
}

.weather-details {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.recent-locations {
  display: grid;
  grid-template-rows: 4em 4em;
  grid-template-columns: 10em 10em;
  align-items: center;
  justify-items: center;
  background: linear-gradient(
    to left top,
    rgba(0, 255, 255, 0.81),
    rgba(0, 0, 255, 0.55)
  );
  border-radius: 2em;
}

.recent-locations a {
  font-size: 1.7em;
  color: rgb(255, 255, 255);
  opacity: 100;
}

.recent-locations div {
  display: flex;
}
