* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ffffff;
  --secondary-color: #525252e7;
  overflow: hidden;
}
html {
  overflow-y: scroll;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: clamp(1rem, 1.5rem, 2rem);
}

.links {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  list-style: none;
}

.filter {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  /* user-select: none; */
}

.weather-search-city {
  text-decoration-style: none;
  border-width: 0 0 0.05em 0;
  background: transparent;
  text-align: center;
  font-size: inherit;
  color: antiquewhite;

  border-bottom: #ffffff;
  border-style: solid;
  padding-bottom: 0.3em;
}
.search-city {
  display: flex;
  flex-direction: row;
  font-size: 1.3svw;
}
.search {
  align-self: center;
  font-size: inherit;
  color: bisque;
}
.weather-search-city::placeholder {
  opacity: 0.5;
  color: #ffffff;
}

.weather-search-city:focus {
  outline-style: none;
  text-decoration: none;
}

.image-container {
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
}
.image-weather {
  width: 100%;
  height: 100%;
}
.left-info,
.right-info {
  z-index: 1000;
}

.overlay-main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.left-info {
  display: flex;
  position: sticky;
  top: 75%;
  right: 40%;
  left: 8%;
  flex-direction: row;
  align-self: center;
  column-gap: 10%;
  width: fit-content;
  color: rgb(0, 0, 0);
  user-select: none;
  font-weight: 900;
  font-size: 2em;
  backdrop-filter: blur(1.5px);
}

.left-info .date-location-info,
.image-continer-svg {
  font-size: inherit;
}

.date-time {
  font-size: 0.8rem;
}
.current-svg-weather {
  height: 100%;
}

.date-location-info {
  display: flex;
  flex-direction: column;
  align-self: first baseline;
  align-items: center;
  font-size: inherit;
}

h3 {
  font-size: smaller;
}

.city-name {
  letter-spacing: 0.3rem;
  font-weight: 900;
  font-size: inherit;
}

body {
  background: gray;
}

.right-info {
  width: 25svw;
  transition: transform 1s, opacity 0.5s ease-in-out;
  overflow-y: scroll;
  background: linear-gradient(to top left, #51a8c9, #4fb7eede);
  border-left: 1px solid whitesmoke;
}

.weather-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
  flex-wrap: nowrap;
}

#map {
  height: 100%;
}

.close-bar-container {
  align-self: flex-start;
  position: relative;
  left: 5%;
  user-select: none;
}
.side-bar-btn {
  width: 2.5svw;
}

.closed {
  transform: translate(80%);
  opacity: 0.5;
}

.weather-details {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.place {
  width: 60%;
  background: linear-gradient(
    to left top,
    rgba(0, 255, 255, 0.81),
    rgba(0, 0, 255, 0.55)
  );
  border-radius: 2em;
}

.recent-locations {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 3em;
  align-items: center;
}

.recent-locations a {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}

.recent-locations .place {
  display: flex;
  width: 80%;
  user-select: none;
  height: fit-content;
  justify-content: space-between;
  align-items: first baseline;
  padding-top: 1em;
  padding: 1em 0.5em 0.5em 1.3em;
}

.overlay-main {
  font-size: 1rem;
}

.city--conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.temp-low--high {
  display: grid;
  grid-template-rows: 2em;
  grid-template-columns: 3em 3em;
  grid-gap: 0em 0.9em;
}

.city--current--temp {
  align-self: center;
  font-size: 1.5em;
}

.location--date {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}

.city-condition {
  padding-top: 0.3rem;
  width: 7em;
}

.city-detailed-forecast {
  display: none;
  flex-direction: column;
  background: linear-gradient(to top, #c3a0a0, #56b6d8);
  height: 100%;
  opacity: 1;
  width: 75svw;
  position: relative;
  transition: all 0.1s ease-in-out;
  overflow-y: hidden;
  padding: 1rem;
}

.opened {
  display: flex;
  z-index: 10;
}

.header--forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exit--btn {
  font-size: 1rem;
  border-radius: 15px;
  padding: 1px 10px 2px 10px;
  user-select: none;
  background: #ffe4ba;
  color: rgb(0, 0, 0);
  border-width: 0;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
